#{extends 'main.html' /}
#{set title:'Liste des adhérents' /}


<h2>Adhérents <a data-toggle="modal" href="#modalNouvAdherent" class="btn btn-primary btn-xs">Nouvel adhérent</a>
    <a href="@{ListeAdherents.etatRetards}" class="btn btn-default btn-xs">Etat des retards de cotisation</a>
</h2>

<table class="table table-striped table-condensed">
    <thead><tr><th>#</th><th>Nom</th><th>Prénom</th><th>Ville</th><th>Email</th><th>Téléphone</th><th>Depuis</th><th>Cotisation</th></tr></thead>
    <tbody>
    #{list items:listeAdherents, as:'adh'}
    
    <tr class="mouvementLine">
        <td>${adh.id}
            <a data-toggle="modal"  data-target="#modalEditAdherent"  href="@{ListeAdherents.ficheEditAdherent(adh.id)}" class="editAdherent text-info pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>
        <td>${adh.nom.capFirst()}</td>
        <td>${adh.prenom}</td>
        <td>${adh.ville}</td>
        
        <td>${adh.email}</td>
        <td>${adh.telephone}</td>
        <td>${adh.date.format("dd MMMM yyyy")}</td>
        <td>
           #{if listeRetards.contains(adh)}
           <span class="label label-danger">En retard</span>
           #{/if}
           #{else}
           <span class="label label-success">A jour</span>
           #{/else}
            <a data-toggle="modal"  data-target="#modalCotisation"  href="@{ListeAdherents.nouvelleCotisation(adh.id)}" class="editAdherent text-info pull-right"><span class="glyphicon glyphicon-plus"></span></a>
        </td>
    </tr>
    #{/list}
    </tbody>
    <tfoot>
        <tr>
        <td></td>
        <th>${listeAdherents.size} adhérents</th>
        </th>
        <td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </tfoot>
</table>


<div class="modal fade" id="modalNouvAdherent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Nouvel adhérent</h4>
      </div>
      <div class="modal-body">
          <form id="formNewAdherent" class="form-horizontal" role="form" method="POST" action="@{ListeAdherents.newAdherent}">
  
  <div class="form-group">
    <label for="nom" class="col-lg-4 control-label">Nom</label>
    <div class="col-lg-6">
      <input name="nom" type="text" class="form-control" id="nom" placeholder="Nom de famille"/>
    </div>
  </div>              
  <div class="form-group">
    <label for="prenom" class="col-lg-4 control-label">Prénom</label>
    <div class="col-lg-6">
      <input name="prenom" type="text" class="form-control" id="prenom" placeholder="Prénom"/>
    </div>
  </div>
  <div class="form-group">
    <label for="date" class="col-lg-4 control-label">Date inscription</label>
    <div class="col-lg-6">
      <input name="date" type="date" class="form-control" id="date" placeholder="0000-00-00"/>
    </div>
  </div>     
              <fieldset><legend>Adresse</legend>
                 
  <div class="form-group">
    <div class="col-lg-10">
      <input name="adresse" type="text" class="form-control" id="adresse" placeholder="Numéro et nom de rue"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-4">
      <input name="codePostal" type="text" class="form-control" id="codePostal" placeholder="Code Postal"/>
    </div>
    <div class="col-lg-6">
      <input name="ville" type="text" class="form-control" id="ville" placeholder="Commune"/>
    </div>
  </div>
              </fieldset>   
              <fieldset><legend>Contact</legend>
                 
  <div class="form-group">
    <label for="email" class="col-lg-4 control-label">Email</label>
    <div class="col-lg-6">
      <input name="email" type="text" class="form-control" id="email" placeholder="Adresse Email"/>
    </div>
  </div>
  <div class="form-group">
    <label for="telephone" class="col-lg-4 control-label">Téléphone</label>
    <div class="col-lg-6">
      <input name="telephone" type="text" class="form-control" id="telephone" placeholder="Numéro de Téléphone"/>
    </div>
  </div>
              </fieldset>     
      
      
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler et fermer</button>
        <button id="submitFormNewAdherent" type="button" class="btn btn-primary">Sauvegarder et fermer</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalEditAdherent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
</div>
<div class="modal fade" id="modalCotisation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
</div>


<style>
    .editAdherent{
        visibility: hidden;
    }
    .mouvementLine:hover .editAdherent {
        visibility: visible;
    }
    
    input.form-control, select.form-control {
        padding: 2px 5px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function(){
        
        
        $("#submitFormNewAdherent").click(function(){
            $("#formNewAdherent").submit();
        });
        $('#modalEditAdherent').on('shown.bs.modal', function () {
            
                $("#submitFormEditAdherent").click(function(){
                    $("#formEditAdherent").submit();
                });
          });
        $('#modalCotisation').on('shown.bs.modal', function () {
            
                $("#submitFormCotisation").click(function(){
                    $("#formCotisation").submit();
                });
          });
          $('#modalCotisation').on('hidden.bs.modal', function () {
            
                $("#modalCotisation").removeData('bs.modal');
          });
          
          $('#modalEditAdherent').on('hidden.bs.modal', function () {
            
                $("#modalEditAdherent").removeData('bs.modal');
          });
    });
    </script>
