<div class="modal-dialog">
    <div class="modal-content">
        
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Envoyer un mailing PDF</h4>
      </div>
      <div class="modal-body">

<form id="formMailingPDF" class="form-horizontal" role="form" method="POST" action="@{ListeAdherents.mailingPDF}">
  <div class="form-group">
    <label for="objet" class="col-lg-4 control-label">Objet</label>
    <div class="col-lg-6">
      <input name="objet" type="text" class="form-control" id="objet" value="" placeholder="Objet de la lettre"/>
    </div>
  </div>              
  <div class="form-group">
    <label for="corps" class="col-lg-4 control-label">Corps</label>
    <div class="col-lg-6">
        <textarea name="corps" type="text" class="form-control" id="corps"placeholder="Corps de la lettre (HTML autorisé)"></textarea>
    </div>
  </div>             
  <div class="form-group">
    <label for="style" class="col-lg-4 control-label">Style supplémentaire</label>
    <div class="col-lg-6">
        <textarea name="style" type="text" class="form-control" id="style"placeholder="Modification du style (facultatif)"></textarea>
    </div>
  </div>      
</form>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler et fermer</button>
        <button id="submitFormMailingPDF" type="button" class="btn btn-primary">Générer le PDF</button>
      </div>
    </div>
  </div>          
